#scoreboard {
    color: white;
    font-family: Marker Felt;
    width: 60%;
    text-align: center;
    font-size: 180%;
    font-weight: bolder;
    margin: auto;
    margin-top: 3%; 
    padding: 0.5%;
    padding-top: 1.5%;
}

#linkToAnswers{
    text-align: center;
    padding-top: 4.5%;
    margin-bottom: 5%;
    font-family: Marker Felt;
    display: flex;
    justify-content: center;

    h5 {
        padding: 0% 1.5% 0% 1.5%;
    }
}

#reachOut {
    outline: #fdda9a 0.1rem solid;
    width: 60%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;

    #formTitle {
        color: white;
        margin-top: 2%;
        text-align: center;
        font-family: Marker Felt;
    }

    #emailForm {
        width: 90%;
        color: white;
        font-family: Marker Felt;
        font-size: 120%;
        margin: auto;
    }
}

// *********************** stars background for all components

@mixin translate50
{
-webkit-transform: translate(-50, -50%);
-ms-transform: translate(-50, -50%);
-o-transform: translate(-50, -50%);
transform: translate(-50, -50%);
}

@mixin roundedCorners
{
-webkit-border-radius: 50%; 
-moz-border-radius: 50%; 
border-radius: 50%;
}

@mixin rotateBase
{
-webkit-transform: rotate3d(-1, 1, 0, 0deg);
-ms-transform: rotate3d(-1, 1, 0, 0deg);
-o-transform: rotate3d(-1, 1, 0, 0deg);
transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight
{
-webkit-transform: rotate3d(-1, 1, 0, 30deg);
-ms-transform: rotate3d(-1, 1, 0, 30deg);
-o-transform: rotate3d(-1, 1, 0, 30deg);
transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft
{
-webkit-transform: rotate3d(-1, 1, 0, -30deg);
-ms-transform: rotate3d(-1, 1, 0, -30deg);
-o-transform: rotate3d(-1, 1, 0, -30deg);
transform: rotate3d(-1, 1, 0, -30deg);
}

// n is number of stars generated
@function generateStars ($n)
{ 
$value: '#{0} #{random(2000)}px #{random(2000)}px #FFF';

@for $i from 2 through $n
{
    $value: '#{$value} , #{random(7000)}px #{random(7000)}px #FFF';
}

@return unquote($value);
}

$stars-small:  generateStars(7000);
$stars-medium: generateStars(2000);
$stars-big:    generateStars(1000);

body
{
overflow: auto;
}

#stars-container-scoreboard
{
height: 160vh;
width: 100%;
background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
overflow: auto;
@include translate50;
}

#stars
{
width: 1px;
height: 1px;
background: transparent;
box-shadow: $stars-small;
animation : animateStars 28.5s ease-in-out infinite;
@include roundedCorners;

&::after
{
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
    @include roundedCorners;
}
}
    
#stars2
{
width: 2px;
height: 2px;
background: transparent;
box-shadow: $stars-medium;
animation : animateStars 30s ease-in-out infinite;
@include roundedCorners;
    
&::after
{
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
    @include roundedCorners;
}
}
    
#stars3
{
width: 3px;
height: 3px;
background: transparent;
box-shadow: $stars-big;
animation : animateStars 31.5s ease-in-out infinite;
@include roundedCorners;
    
&:after
{
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-big;
    @include roundedCorners;
}
}

@keyframes animateStars
{
0%{@include rotateBase;}
25%{@include rotateRight;}
50%{@include rotateBase;}
75%{@include rotateLeft;}
100%{@include rotateBase;}
}